# 테스트 코드 (1차학습 데이터)

[Pathlib의 Path](https://engineer-mole.tistory.com/191)

In [102]:
import os
from glob import glob
import shutil
from pathlib import Path

os.chdir("/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data")
os.getcwd()

'/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data'

In [22]:
# cvat에서 받은 zip 데이터 폴더 경로
src_dir = Path(os.getcwd() + "/1st_tra")
print("Source directory:", src_dir)

# Yolov5 폴더 구조에 맞게, 디렉토리 생성 generate directories according to Yolov5 folder structure
dest_dir = Path(os.getcwd())
print("Destination directory:", dest_dir)

# 대상 디렉토리가 없으면 생성
images_dest_dir = dest_dir / 'images' / '1st_train_image'
labels_dest_dir = dest_dir / 'labels' / '1st_train_label'

images_dest_dir.mkdir(parents=True, exist_ok=True)
labels_dest_dir.mkdir(parents=True, exist_ok=True)

Source directory: /home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st_tra
Destination directory: /home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data

In [ ]:
# 사람별 폴더 탐색 및 파일 복사 search person folders in source directory and copy files
    # 참조 블로그: https://aigong.tistory.com/193#4)_Path.iterdir()

for person_folder in src_dir.iterdir(): # 기존 데이터 폴더가 디렉토리(폴더)일때, 내부 서브 디렉토리만 반환
    print(person_folder)
    if person_folder.is_dir(): # 사람 폴더도 폴더인지 체크:
        for folder_type in person_folder.iterdir():
            print(folder_type)
            if folder_type.is_dir():
                for file in folder_type.glob('*'):
                    if file.suffix in ['.jpg', '.txt']:
                        if file.suffix == '.jpg':
                            shutil.move(file, dest_dir/f'images/1st_train'/file.name)
                        elif file.suffix == '.txt': #.xml 파일도 존재하므로, elif로 처리
                            shutil.move(file, dest_dir/f'labels/1st_train'/file.name)

# 재사용 코드

In [34]:
import os
from glob import glob
import shutil
from pathlib import Path

# 기존 데이터 폴더 경로 입력
source_dir = Path(os.getcwd() + '/1st/1st_val') # example path -> backup_data

# 대상 데이터 폴더 경로 입력
target_dir = Path(os.getcwd()) # example path -> yolov5/data

# 대상 폴더 구조에 맞게 디렉터리 생성
for name in ['images/1st_valid', 'labels/1st_valid']:
    os.makedirs(target_dir / name, exist_ok=True)

In [31]:
# 파일 복사 함수
def copy_files(data_folder, dest_folder, set_type='1st_valid'): # set_type에 학습차수 포함해서 기입 ex. 3rd_train
    for folder_type in data_folder.iterdir():
        if folder_type.is_dir():
            for file in folder_type.glob('*'):
                if file.suffix in ['.jpg', '.txt']:
                    if file.suffix == '.jpg':
                        shutil.copy(file, dest_folder / f'images/{set_type}' / file.name)
                    elif file.suffix == '.txt': # 
                        shutil.copy(file, dest_folder / f'labels/{set_type}' / file.name)

In [35]:
for person_folder in source_dir.iterdir(): 
    print(person_folder)
    if person_folder.is_dir(): 
        copy_files(person_folder, target_dir, set_type='1st_valid') # set_type 입력 해주기

/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/25906671_윤원근(3)YP_비흡인_vallecular1
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/27620175_이재욱(3)YP_흡인PAS8_vallecular1
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/25918605_설창훈(4)YP_비흡인_vallecular1
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/24340247_강완희(4)YP_비흡인_vallecular2
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/25918605_설창훈(1)SF_흡인PAS8_vallecular0
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/24340247_강완희(1)SF_흡인PAS5_vallecular1
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/17014160_박기순(1)SF_비흡인_vallecular3
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/25906671_윤원근(1)SF_흡인PAS6_vallecular1
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/14597572_김현숙(5)YP_비흡인_vallecular1
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/27620175_이재욱(1)SF_흡인PAS8_vallecular1
/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data/1st/1st_val/14597572_김현숙(1)SF_비흡인_vallecular1

# 테스트 코드 (2차학습 데이터)

In [37]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rsrehab/miniconda3/envs/akas01/lib/python3.8/site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: numpy>=1.20.3 in /home/rsrehab/miniconda3/envs/akas01/lib/python3.8/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /home/rsrehab/miniconda3/envs/akas01/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 9.5 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 8.6 MB/s eta 0:00:00ta 0:00:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 9.3 MB/s eta 0:00:00:00:01
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [39]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 7.5 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import os
import pandas as pd
from glob import glob

os.chdir("/mnt/c/Users/USER/Downloads")
print(os.getcwd())

xlsx_data = os.getcwd() + "/VFSS_video_list.xlsx"
print(xlsx_data)

# xlsx 파일에서, 특정 sheet 읽어오기
data = pd.read_excel(xlsx_data, engine='openpyxl', sheet_name='Sheet1')

# 데이터프레임 생성
df = pd.DataFrame(data)
df

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영상파일명   51 non-null     object
 1   학습 차수   51 non-null     object
 2   데이터 분리  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [3]:
df['영상파일명'] = df['영상파일명'].str.replace(" ","")
df['영상파일명'][1]

'13732000_장영규(4)YP'

In [67]:
train_df = df[df['데이터 분리'] == 'train'].copy()
train_df

                  영상파일명 학습 차수 데이터 분리
0   13732000_장영규 (1) SF    2차  train
1   13732000_장영규 (4) YP    2차  train
2   14039689_김명수 (1) YP    2차  train
3   14039689_김명수 (5) SF    2차  train
4   14053700_김희억 (1) SF    2차  train
5   14053700_김희억 (3) YP    2차  train
6   14819861_임순자 (1) SF    2차  train
7   14819861_임순자 (4) YP    2차  train
8   15617688_김복엽 (3) YP    2차  train
9   16049372_오규삼 (4) YP    2차  train
10  27794951_이병복 (1) SF    2차  train
11  27794951_이병복 (3) YP    2차  train
12  29101795_나다순 (1) SF    2차  train
13  29101795_나다순 (3) YP    2차  train
14  29268744_한기주 (1) YP    2차  train
15  29268744_한기주 (3) SF    2차  train
16  29514050_임필순 (1) SF    2차  train
17  29514050_임필순 (3) YP    2차  train
18  32388815_차선옥 (1) SF    2차  train
19  32388815_차선옥 (3) YP    2차  train
20  35936059_강윤진 (1) SF    2차  train
21  35936059_강윤진 (3) YP    2차  train
22  36634286_박동백 (1) SF    2차  train
23  36634286_박동백 (4) YP    2차  train
24  36785920_박영호 (1) SF    2차  train
25  36785920_박영호 (2) YP    2차  train
26  36814347_최현주 (1) SF    2차  train
27  36814347_최현주 (2) YP    2차  train
28  36915644_용종심 (1) SF    2차  train
29  36915644_용종심 (3) YP    2차  train
30  11453952_황서영 (1) YP    2차  train
31  11453952_황서영 (3) SF    2차  train
32  12925450_김행보 (1) SF    2차  train
33  13737036_이성재 (1) SF    2차  train
34  13737036_이성재 (3) YP    2차  train
35  19815592_박은심 (1) SF    2차  train
36  19815592_박은심 (3) YP    2차  train
37  21827327_전진언 (1) SF    2차  train
38  21827327_전진언 (3) YP    2차  train
39  11393524_김인환 (4) YP    2차  train

In [68]:
train_df['영상파일명'] = train_df['영상파일명'].str.replace(" ","")
train_df['영상파일명']

0     13732000_장영규(1)SF
1     13732000_장영규(4)YP
2     14039689_김명수(1)YP
3     14039689_김명수(5)SF
4     14053700_김희억(1)SF
5     14053700_김희억(3)YP
6     14819861_임순자(1)SF
7     14819861_임순자(4)YP
8     15617688_김복엽(3)YP
9     16049372_오규삼(4)YP
10    27794951_이병복(1)SF
11    27794951_이병복(3)YP
12    29101795_나다순(1)SF
13    29101795_나다순(3)YP
14    29268744_한기주(1)YP
15    29268744_한기주(3)SF
16    29514050_임필순(1)SF
17    29514050_임필순(3)YP
18    32388815_차선옥(1)SF
19    32388815_차선옥(3)YP
20    35936059_강윤진(1)SF
21    35936059_강윤진(3)YP
22    36634286_박동백(1)SF
23    36634286_박동백(4)YP
24    36785920_박영호(1)SF
25    36785920_박영호(2)YP
26    36814347_최현주(1)SF
27    36814347_최현주(2)YP
28    36915644_용종심(1)SF
29    36915644_용종심(3)YP
30    11453952_황서영(1)YP
31    11453952_황서영(3)SF
32    12925450_김행보(1)SF
33    13737036_이성재(1)SF
34    13737036_이성재(3)YP
35    19815592_박은심(1)SF
36    19815592_박은심(3)YP
37    21827327_전진언(1)SF
38    21827327_전진언(3)YP
39    11393524_김인환(4)YP
Name: 영상파일명, dtype: object

In [69]:
valid_df = df[df['데이터 분리'] == 'valid'].copy()
valid_df

                  영상파일명 학습 차수 데이터 분리
40  22767637_김남웅 (3) YP    2차  valid
41  17020886_정영숙 (1) YP    2차  valid
42  17020886_정영숙 (2) SF    2차  valid
43  24490159_김우연 (1) SF    2차  valid
44  24490159_김우연 (4) YP    2차  valid
45  22360384_조남혜 (1) SF    2차  valid
46  22360384_조남혜 (2) YP    2차  valid
47  24084112_강휘남 (1) SF    2차  valid
48  24084112_강휘남 (3) YP    2차  valid
49  27255843_권영해 (1) YP    2차  valid

In [71]:
valid_df['영상파일명'] = valid_df['영상파일명'].str.replace(" ","")
valid_df

                영상파일명 학습 차수 데이터 분리
40  22767637_김남웅(3)YP    2차  valid
41  17020886_정영숙(1)YP    2차  valid
42  17020886_정영숙(2)SF    2차  valid
43  24490159_김우연(1)SF    2차  valid
44  24490159_김우연(4)YP    2차  valid
45  22360384_조남혜(1)SF    2차  valid
46  22360384_조남혜(2)YP    2차  valid
47  24084112_강휘남(1)SF    2차  valid
48  24084112_강휘남(3)YP    2차  valid
49  27255843_권영해(1)YP    2차  valid

In [4]:
os.getcwd()

'/mnt/c/Users/USER/Downloads'

In [79]:
import shutil
from pathlib import Path


# 폴더 경로 
src_folder1 = Path(os.getcwd()) / 'obj_Train_data' # Path 객체와 문자열을 직접 연결(+)하려고 할 때 TypeError가 발생
src_folder2 = Path(os.getcwd()) / 'obj_Validation_data' # Path 객체를 사용하여 파일 경로를 생성하고 조작할 때는 / 연산자를 사용하여 부분 경로를 추가

print("Source directory:", src_folder1)
print("Source directory:", src_folder2)

# dest_folder = '/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data'   에러났던 라인
# src_folder1, src_folder2와 다르게, string으로 dest_folder를 처리해서 에러 발생. Path object로 처리하면 에러 해결.

dest_folder = Path('/home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data')
print("Destination directory:", dest_folder)

Source directory: /mnt/c/Users/USER/Downloads/obj_Train_data
Source directory: /mnt/c/Users/USER/Downloads/obj_Validation_data
Destination directory: /home/rsrehab/cvat/serverless/pytorch/ultralytics/yolov5/nuclio/data

In [7]:
# Yolo 폴더 구조에 맞게, 디렉토리 생성
for name in ['images/2nd_train', 'labels/2nd_train', 'images/2nd_valid', 'labels/2nd_valid']:
    os.makedirs(dest_folder + name, exist_ok=True)

In [91]:
# file_list = glob(str(src_folder1) / '*.jpg') 에러 났던 라인
jpg_file_list = glob(str(src_folder1 / '*.jpg'))
jpg_file_names = [Path(file).name for file in jpg_file_list]
txt_file_list = glob(str(src_folder1 / '*.txt'))
txt_file_names = [Path(file).name for file in txt_file_list]

In [92]:
print(len(jpg_file_names))
print(len(txt_file_names))

0
0

In [29]:
# if any(value in a_list for value in df['col1']) and (value == 'valid' for value in df['col2']): 내 코드
# if any(value in a_list for value in df['col1']) and all(value == 'valid' for value in df['col2']): chat gpt가 고쳐준 로직 코드

#for txt_name in txt_file_names:
    
    #if any(df_value in txt_name for df_value in valid_df['영상파일명']) and (value == 'valid' for value in df['데이터 분리']): # 코드 작동하지 않음!!!! 
        #src_file_path = src_folder1 / txt_name
        #dest_file_path = dest_folder/ 'labels/2nd_train' / txt_name
        
        #if src_file_path.exists():
            #shutil.move(str(src_file_path), str(dest_file_path))

In [82]:
for jpg_name in jpg_file_names:
    if any(df_value in jpg_name for df_value in train_df['영상파일명']):
        src_file_path = src_folder1 / jpg_name
        dest_file_path = dest_folder/ 'images/2nd_train' / jpg_name
        
        if src_file_path.exists():
            shutil.move(str(src_file_path), str(dest_file_path))

In [83]:
for txt_name in txt_file_names:
    if any(df_value in txt_name for df_value in train_df['영상파일명']):
        src_file_path = src_folder1 / txt_name
        dest_file_path = dest_folder/ 'labels/2nd_train' / txt_name
        
        if src_file_path.exists():
            shutil.move(str(src_file_path), str(dest_file_path))

In [74]:
for jpg_name in jpg_file_names:
    if any(df_value in jpg_name for df_value in valid_df['영상파일명']):
        src_file_path = src_folder1 / jpg_name
        dest_file_path = dest_folder/ 'images/2nd_valid' / jpg_name
        
        if src_file_path.exists():
            shutil.move(str(src_file_path), str(dest_file_path))

In [75]:
for txt_name in txt_file_names:
    if any(df_value in txt_name for df_value in valid_df['영상파일명']):
        src_file_path = src_folder1 / txt_name
        dest_file_path = dest_folder/ 'labels/2nd_valid' / txt_name
        
        if src_file_path.exists():
            shutil.move(str(src_file_path), str(dest_file_path))

In [84]:
jpg_file_list2 = glob(str(src_folder2 / '*.jpg'))
jpg_file_names2 = [Path(file).name for file in jpg_file_list2]
txt_file_list2 = glob(str(src_folder2 / '*.txt'))
txt_file_names2 = [Path(file).name for file in txt_file_list2]

In [ ]:
txt_file_list2 = glob(str(src_folder2 / '*.txt'))
txt_file_names2 = [Path(file).name for file in txt_file_list2]
txt_file_names2

In [85]:
print(len(jpg_file_names2))
print(len(txt_file_names2))

1016
1016

In [86]:
for jpg_name in jpg_file_names2:
    if any(df_value in jpg_name for df_value in valid_df['영상파일명']):
        src_file_path = src_folder2 / jpg_name
        dest_file_path = dest_folder/ 'images/2nd_valid' / jpg_name
        
        if src_file_path.exists():
            shutil.move(str(src_file_path), str(dest_file_path))

In [90]:
for txt_name in txt_file_names2:
    if any(df_value in txt_name for df_value in valid_df['영상파일명']):
        src_file_path = src_folder2 / txt_name
        dest_file_path = dest_folder/ 'labels/2nd_valid' / txt_name
        
        if src_file_path.exists():
            shutil.move(str(src_file_path), str(dest_file_path))