In [4]:
#%pip install pandas
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 23.3.2 is available.
You should consider upgrading via the 'C:\Users\USER\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import re

# Let's assume the file content is loaded into the DataFrame
# For the purpose of this example, we'll create a DataFrame with similar patterns as seen in the image

# Sample data mimicking the user's data structure based on the image provided
xlsx_data = "c:\\Users\\USER\\Downloads\\VFSS_residue_image_list_김소현 (1).xlsx"
data = pd.read_excel(xlsx_data, engine='openpyxl',
                     sheet_name=2)  # For the third sheet
# Create a DataFrame
df = pd.DataFrame(data)
df.head()

,No.,영상파일명,FPS,삼킴 시작(초),삼킴 끝(초),흡인,PAS,잔여물(vallecular),음식물텍스트추출,음식물 타입,비고
0,1.0,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,no,indefinite,0.0,SF.avi,SF,NaN
1,2.0,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,no,indefinite,0.0,YP.avi,YP,NaN
2,3.0,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,SF.avi,SF,NaN
3,NaN,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,YP(syr).avi,YP(syr),NaN

In [2]:
df['Name'] = df['영상파일명']

In [3]:
def extract_name(path):
    # This regex looks for a backslash followed by any combination of letters (Korean included), numbers, and underscores
    # It stops when it finds a space followed by an open parenthesis and a number
    # Make sure path is a string, if not, return None
    if not isinstance(path, str):
        return None
    # This regex looks for a backslash followed by any combination of letters (Korean included), numbers, and underscores
    # It stops when it finds a space followed by an open parenthesis and a number
    match = re.search(r'\\([가-힣A-Za-z0-9_]+)\s+\(\d+\)', path)
    return match.group(1) if match else None

In [4]:
# Apply the function to extract names
df['Name'] = df['영상파일명'].apply(extract_name)

# Now, let's get the distinct names
distinct_names = df['Name'].unique()
distinct_names

array(['10003671_성락영', '10023480_박찬준', '10034156_안선진', '10113624_서정수',
       '10227408_박찬순', '10269565_조영자', '10402122_장봉희', '11033480_이재신',
       '11391225_최옥희', '11453952_황서영', '11478533_김득실', '12044584_최대순',
       '12548853_이천영', '12589481_권찬준', '12661592_박영의', '12925450_김행보',
       '13141154_김이순', '13557766_김무술', '13640721_손옥전', '13737036_이성재',
       '13895071_이기성', '14329351_박형남', '14731978_최광섭', '14905584_김래경',
       '16049372_오규삼', '17156723_남기윤', '17351357_김영심', '18648054_정영숙',
       '19245179_이기현', '19262345_서재관', '19607614_최준용', '19815592_박은심',
       '19816658_이기순', '21565681_오순이', '21673234_박순남', '21827327_전진언',
       '21905366_권기수', '22360384_조남혜', '23262508_박태연', '23463589_권병천',
       '23629707_류영하', '24084112_강휘남', '24340247_강완희',
       '24805775_BATYRZHAN', '24910576_임화자', '24929835_박운용',
       '25880490_백민우', '25906671_윤원근', '25929410_전종배', '26131913_장수연',
       '26827423_이항섭', '27218262_최태환', '27255843_권영해', '27292570_정광헌',
       '27457795_신명하', '27528680_김명순', '27692790_황분자', '28072414_김종갑',
       '28182683_백란희', '28202462_임석주', '28758129_신명식', '29323951_한두희',
       '29514050_임필순', '29543351_정덕희', '29709928_안미자', '31083838_이원재',
       '31329596_최병준', '31557120_유주연', '31875323_정진순', '31898852_이경탁',
       '31943257_최명순', '31999267_김용수', '32389337_김정란', '32435007_지성근',
       '32540118_고영신', '32820124_김진홍', '33887865_이혜진', '34757936_정관식',
       '34896329_권순영', '35105723_정성근', '35133090_이현미', '35181486_강춘옥',
       '35393885_최영윤', '35571724_권미경', '35717311_한영수', '35795070_김혜자',
       '35893190_오종대', '36405426_서영훈', '36647453_정철호', '36706763_정승호',
       '36722020_김정원', '36775118_박대관', '36785920_박영호', '36799905_홍하숙',
       '36814347_최현주', '36864924_이백운', '36883381_정영주', '36924857_박일훈',
       '36943810_정승강', '36944039_김홍융', '36975893_이광욱', '36979578_최박임',
       '37004491_유복임', '37033204_장경옥', '37036690_이창익',
       '37051769_OGULZHAN', '37055576_이상금', '37055691_김소진',
       '37115238_박용선', '37123479_박광분', '37141516_강태섭', '37154442_정옥희'],
      dtype=object)

In [5]:
# Return the distinct names and their count
len(distinct_names)

112