In [3]:
#%pip install pandas
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 6.1 MB/s eta 0:00:0000:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [21]:
import os
os.getcwd()
os.chdir("/mnt/c/Users/USER")
os.getcwd()

'/mnt/c/Users/USER'

In [35]:
import pandas as pd
import re

# https://mizykk.tistory.com/94 

xlsx_data = "./Downloads/VFSS_residue_image_list_김소현.xlsx"
data = pd.read_excel(xlsx_data, engine='openpyxl',
                     sheet_name='VFSS_2023년1월영상')

# Let's assume the file content is loaded into the DataFrame
# For the purpose of this example, we'll create a DataFrame with similar patterns as seen in the image
# Create a DataFrame
df = pd.DataFrame(data)
df.head()

,영상파일명,FPS,삼킴 시작(초),삼킴 끝(초),데이터분리,흡인,PAS,vallecular,음식물텍스트추출,음식물 타입,비고
0,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,60.0,17,19,train,NaN,7,1,SF.avi,SF,영상퀄리티로 데이터 제외처리
1,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,영상퀄리티로 데이터 제외처리
2,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,영상퀄리티로 데이터 제외처리
3,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,영상퀄리티로 데이터 제외처리
4,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,정면 데이터로 적절치 않은 데이터. 예외 처리

In [36]:
df['Name'] = df['영상파일명']

In [25]:
def extract_name(path):
    # This regex looks for a backslash followed by any combination of letters (Korean included), numbers, and underscores
    # It stops when it finds a space followed by an open parenthesis and a number
    # Make sure path is a string, if not, return None
    if not isinstance(path, str):
        return None
    # This regex looks for a backslash followed by any combination of letters (Korean included), numbers, and underscores
    # It stops when it finds a space followed by an open parenthesis and a number
    match = re.search(r'\\([가-힣A-Za-z0-9_]+)\s+\(\d+\)', path)
    return match.group(1) if match else None

In [37]:
# Apply the function to extract names
df['Name'] = df['영상파일명'].apply(extract_name)

# Now, let's get the distinct names
distinct_names = df['Name'].unique()
distinct_names

array(['10090529_이추자', '11659147_김창환', '14144536_최해식', '15136305_김근배',
       '15617688_김복엽', '16016721_전동석', '17043074_최정일', '17239200_김광호',
       '17289926_이호승', '18511486_박덕자', '21828027_배재희', '21829190_박근수',
       '22672506_남궁명숙', '23476509_배종자', '24707244_김태식', '27794951_이병복',
       '28640305_오경희', '29998470_정연수', '32388815_차선옥', '32489826_심영자',
       '32629028_김서영', '32864511_정진희', '33034793_신삼남', '33568722_김민서',
       '34239236_윤옥자', '35003005_김주숙', '35195113_한보혜', '35351184_김점용',
       '36192403_백정분', '10190289_최난지', '10378577_황선호', '10402122_장봉희',
       '11393524_김인환', '11879073_김용기', '12168923_김동기', '12475366_임란전',
       '13034720_이신성', '13732000_장영규', '14039689_김명수', '14053700_김희억',
       '14597572_김현숙', '14819861_임순자', '16049372_오규삼', '16736133_이재환',
       '17014160_박기순', '17020886_정영숙', '18110667_한상철', '19720106_성선영',
       '20585581_이사용', '21080351_양재웅', '21120204_황윤자', '22767637_김남웅',
       '24340247_강완희', '24490159_김우연', '24614506_이경복', None,
       '24929835_박운용', '25024694_현윤옥', '25906671_윤원근', '25918605_설창훈',
       '27620175_이재욱', '27927869_김준자', '29101795_나다순', '29268744_한기주',
       '29514050_임필순', '30867343_이은동', '30926994_최정수', '31584261_홍동화',
       '33281599_우명자', '33481793_우태주', '33911441_인수자', '34033096_김용인',
       '34287730_노유정', '34659164_김효섭', '35309448_장형열', '35795070_김혜자',
       '35861845_구한비', '35936059_강윤진', '36431696_목영배', '36485338_최기춘',
       '36536313_김진순', '36583364_안창훈', '36634286_박동백', '36663936_최원철',
       '36723605_임옥순', '36774300_최윤순', '36785920_박영호', '36814347_최현주',
       '36874363_장찬울', '36889017_김상돈', '36915644_용종심', '36944611_정은옥'],
      dtype=object)

In [38]:
# Return the distinct names and their count
len(distinct_names)

92

In [39]:
xlsx_data1 = "./Downloads/VFSS_residue_image_list_김소현(1).xlsx"
data1 = pd.read_excel(xlsx_data, engine='openpyxl',
                     sheet_name='VFSS_2023년1월영상')

# Let's assume the file content is loaded into the DataFrame
# For the purpose of this example, we'll create a DataFrame with similar patterns as seen in the image
# Create a DataFrame
df1 = pd.DataFrame(data1)
df1.head()

,영상파일명,FPS,삼킴 시작(초),삼킴 끝(초),데이터분리,흡인,PAS,vallecular,음식물텍스트추출,음식물 타입,비고
0,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,60.0,17,19,train,NaN,7,1,SF.avi,SF,영상퀄리티로 데이터 제외처리
1,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,영상퀄리티로 데이터 제외처리
2,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,영상퀄리티로 데이터 제외처리
3,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,영상퀄리티로 데이터 제외처리
4,Z:\home\sh_rsrehab\AKAS_Test\data\video_data\2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,정면 데이터로 적절치 않은 데이터. 예외 처리

In [40]:
df1['Name'] = df1['영상파일명']

In [41]:
# Apply the function to extract names
df1['Name'] = df1['영상파일명'].apply(extract_name)

# Now, let's get the distinct names
distinct_names1 = df1['Name'].unique()
print(len(distinct_names1))

92